header{
text-align:center;
font-size:larger;	

}
p{

font-family:sans-serif;
text-align:justify;
}

li{
text-align:justify;

}
#introduccion{
margin:90px;

}
#definir{
margin:90px;

}
#medir{
margin:90px;

}
#cuantificar{
margin:90px;

}
#comparar{
margin:90px;

}
#perfil{
margin:90px;
}